:root {
    --header-color: rgb(15, 43, 80);
    --button-color: rgb(85, 122, 177);
}
body {
    background-color: rgb(231, 231, 231);
}
.navbar {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: 60px;
    background-color: var(--header-color);
    background-image:linear-gradient(var(--header-color),rgb(33, 64, 105));
}
.mainTitle {
    color: rgb(255, 255, 255);
    padding: 20px;
    font-size: 40px;
    background-image:linear-gradient(rgb(33, 64, 105), var(--header-color));
    background-color: var(--header-color);
}
.prompt {
    position: absolute;
    font-size: 25px;
}
.grid {
    margin: 20px 20px;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(50, 1fr);
}
.button {
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: var(--button-color);
    height: 100%;
    border: transparent;
    border-radius: 20px;
    margin: 0px 1px;
}
.button:hover {
    background-image:linear-gradient(rgb(34, 64, 110), rgb(138, 175, 231));
}
.dropDown {
    float: left;
}
.dropButton {
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: var(--button-color);
    height: 100%;
    border: transparent;
    margin: 0px 1px;
}
.dropButton i {
    float: right;
}
.dropDown-content{
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.dropDown-button{
    display: block;
    width: 15%;
    border-radius: 0px;
}
.dropDown:hover .dropDown-content{
    display: block;
}
.sliderContainer {
    width: 300px;
    height: 50%;
    position: relative;
}
.speedTitle {
    color: rgb(255, 255, 255);
    font-size: 20px;
    /* padding: 20px; */
    position: relative;
}
.slider {
    color: rgb(255, 255, 255);
    background-color: var(--button-color);
    width: 90%;
    height: 20%;
    position: relative;
}