:root {
    --maze-color: rgb(255, 255, 255);
}
.node {
    width: 100%;
    height: 0px;
    padding-top: 100%;
    margin-bottom: -5px;
    background-color: rgb(131, 131, 131);
    border-top: 2px solid var(--maze-color);
    border-right: 2px solid var(--maze-color);
    border-bottom: 2px solid var(--maze-color);
    border-left: 2px solid var(--maze-color);
    overflow-x: hidden;
}
@keyframes visited-sol {
    0% {background: rgb(255, 128, 128);}
    25% {background: rgb(255, 194, 133);}
    50% {background: rgb(255, 255, 130);}
    75% {background: rgb(194, 255, 194);}
    100% {background: rgb(201, 225, 255);}
}
.node-visited {
    background-color: var(--maze-color);
}
.node-visited-sol {
    animation-name: visited-sol;
    animation-duration: 2s;
    background: rgb(201, 225, 255);
}
.node-up-border {
    border-top: 2px solid rgb(0, 0, 0);
}
.node-right-border {
    border-right: 2px solid rgb(0, 0, 0);
}
.node-down-border {
    border-bottom: 2px solid rgb(0, 0, 0);
}
.node-left-border {
    border-left: 2px solid rgb(0, 0, 0);
}
.node-solved {
    background-color: rgb(22, 255, 22);
}
.node-start {
    background-color: rgb(255, 255, 0)
}
.node-end {
    background-color: rgb(0, 200, 100)
}
.node-current {
    background-color: red;
}